body{
    background-color: aquamarine;
}


tr:hover{
    background-color: blueviolet;
}

/* estilo por estiqueta */
#nombre{
    border: 1px double red;
    border-radius: 3px;
    background-color: greenyellow;
}